/src/Core/bin/
/src/Core/obj/
/src/Infrastructure/bin/
/src/Infrastructure/obj/
/src/Web/bin/
/src/Web/obj/
/test/End2EndTest/bin/
/test/end2endTest/obj/
/test/IntegrationAndUnitTest/bin/
/test/IntegrationAndUnitTest/obj/
/test/UnitTest/bin/
/test/UnitTest/obj/
/test/SupportScripts/bin/
/test/SupportScripts/obj/
/.idea/